.manageTeamhead1{
    padding: 25px 20px; 
}
.manageTeamhead1 h2{
    font-size: 24px;
  color: #333;
  margin: 0px 0px 15px 0px;
}
.addTeamMemberForm{
    border: 1px solid #ccc;
    padding: 5px 10px 15px 10px;
    display: inline-block;
    width: 100%;
}
.addTeamFormGroup{
    width: 25%;
    float: left;
    padding: 10px 10px;
    margin: 0px;
}
.addTeamAddBtn{
    margin-top: 10px;
    text-align: right;
}
.manageTeamhead2{
    padding: 10px 20px;
}
.addTeamMemberTable{
    width: 100%;
}
.manageTeamhead2 h3{
    font-size: 24px;
  color: #333;
  margin: 0px 0px 15px 0px;
}