<div>

  <div class="manageTeamhead1">
    <h2>Add Team</h2>
    <div class="addTeamMemberForm">
    <form
      [formGroup]="myForm"
      appHighlightRequiredFields
      appFocusInvalidInput
      appFocusFirstEmptyInput
    >
      <div class="form-group addTeamFormGroup">
        <div class="input-group formGroupAddTeamMember">
          <label for="name">Name</label>
          <input
            type="email"
            class="form-control"
            name="officeEmail"
            id="officeEmail"
            placeholder="Office email"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'officeEmail')
            }"
            formControlName="officeEmail"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'officeEmail')"
          [formObject]="myForm"
          [controlName]="'officeEmail'"
          [fieldName]="'Office Email'"
        ></app-error-message>
      </div>
      <div class="form-group addTeamAddBtn">
        <app-save-cancel-buttons
          [saveButtonName]="
            myForm.value.id !== null && myForm.value.id !== undefined
              ? 'Update'
              : 'Add'
          "
          hideCancelButton="true"
          (onSave)="myForm.valid && onAdd()"
        ></app-save-cancel-buttons>
      </div>
    </form>
  </div>
  </div>

  <div class="manageTeamhead2">
    <h3>Team List</h3>
    <div class="addTeamMemberTable">
    <div class="table-responsive manageCandidatesListTabel tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <table class="table table-bordered table-md">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invitation of invitationList; let i = index">
            <td scope="row">{{ invitation.officeEmail }}</td>
            <td>
              <a href="javascript:void(0)" (click)="onEdit(invitation)">
                Edit
              </a>
              |
              <a href="javascript:void(0)" (click)="onDelete()">
                Delete
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  

  <!-- <div class="form-group">
    <app-save-cancel-buttons
      [saveButtonName]="Invite"
      (onSave)="invitationList && invitationList.length > 0 && sendInvite()"
      (onCancel)="onInvitationCancel()"
    ></app-save-cancel-buttons>
  </div> -->
</div>
