<div class="editProfileOrg">
  <div class="editProfileOrgForm">
    <form
      *ngIf="myForm"
      [formGroup]="myForm"
      appHighlightRequiredFields
      appFocusInvalidInput
    >
      <h2>{{ displayTextObject["changePassword"] }}</h2>
      <div class="orgProfileForm">
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <label for="currentPassword">{{
              displayTextObject["currentPassword"]
            }}</label>
            <input
              type="password"
              class="form-control"
              name="currentPassword"
              id="currentPassword"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'currentPassword')
              }"
              formControlName="currentPassword"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'currentPassword')"
            [formObject]="myForm"
            [controlName]="'currentPassword'"
            [fieldName]="displayTextObject['currentPassword']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <label for="newPassword">{{
              displayTextObject["newPassword"]
            }}</label>
            <input
              type="password"
              class="form-control"
              name="newPassword"
              id="newPassword"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'newPassword')
              }"
              formControlName="newPassword"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'newPassword')"
            [formObject]="myForm"
            [controlName]="'newPassword'"
            [fieldName]="displayTextObject['newPassword']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <label for="confirmNewPassword">{{
              displayTextObject["confirmNewPassword"]
            }}</label>
            <input
              type="password"
              class="form-control"
              name="confirmNewPassword"
              id="confirmNewPassword"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'confirmNewPassword')
              }"
              formControlName="confirmNewPassword"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'confirmNewPassword')"
            [formObject]="myForm"
            [controlName]="'confirmNewPassword'"
            [fieldName]="displayTextObject['confirmNewPassword']"
          ></app-error-message>
        </div>
      </div>
      <div class="form-group formGroupOrgProfile">
        <app-save-cancel-buttons
          saveButtonName="Update"
          cancelButtonName="Reset"
          (onSave)="myForm.valid && onUpdate()"
          (onCancel)="onReset()"
        ></app-save-cancel-buttons>
      </div>
    </form>
  </div>
</div>
