<div class="addEventBlock container">
  <div class="addEventFormBlock">
    <form
      autocomplete="off"
      [formGroup]="formGroupObject"
      appHighlightRequiredFields
      appFocusInvalidInput
    >
      <h2>{{ displayTextObject["createEvent"] }}</h2>
      <div class="addEventsFormCard">
        <div class="addEventsForm">
          <div class="form-group formGroupAddEvents">
            <label for="text"
              >{{ displayTextObject["name"] }}
              <span
                [ngClass]="{
                  error: checkForError(formGroupObject, 'name')
                }"
                >*</span
              ></label
            >
            <input
              type="text"
              class="form-control"
              [ngClass]="{
                'input-field-error': checkForError(formGroupObject, 'name')
              }"
              id="name"
              name="name"
              formControlName="name"
            />
            <app-error-message
              *ngIf="checkForError(formGroupObject, 'name')"
              [formObject]="formGroupObject"
              [controlName]="'name'"
              [fieldName]="displayTextObject['name']"
            ></app-error-message>
          </div>
          <div class="form-group formGroupAddEvents">
            <label for="text"
              >{{ displayTextObject["eventDate"]
              }}<span
                [ngClass]="{
                  error: checkForError(formGroupObject, 'eventDate')
                }"
                >*</span
              ></label
            >
            <input
              type="date"
              class="form-control"
              [ngClass]="{
                'input-field-error': checkForError(formGroupObject, 'eventDate')
              }"
              id="eventDate"
              placeholder="Enter date"
              name="eventDate"
              formControlName="eventDate"
              [min]="mininumEventDate"
            />
            <app-error-message
              *ngIf="checkForError(formGroupObject, 'eventDate')"
              [formObject]="formGroupObject"
              [controlName]="'eventDate'"
              [fieldName]="'Date'"
            ></app-error-message>
          </div>
          <div class="form-group formGroupAddEvents">
            <label for="text"
              >{{ displayTextObject["eventTime"] }}
              <span
                [ngClass]="{
                  error: checkForError(formGroupObject, 'eventTime')
                }"
                >*</span
              ></label
            >
            <app-time-input-field
              [isTouched]="formGroupObject.controls.eventTime.touched"
              [resetField]="resetField"
              [renderValue]="formGroupObject.controls.eventTime.value"
              (onChange)="onTimeChange($event)"
            ></app-time-input-field>
          </div>
        </div>
        <hr class="addEventsFormHr" />
        <div class="addEventsForm">
          <div>
            <div class="form-group formGroupAddEvents autoFormGroup">
              <label for="text"
                >{{ displayTextObject["skill"]
                }}<span
                  *ngIf="
                    formGroupObject.controls.skill['controls'].description
                      .value ||
                    formGroupObject.controls.numberOfRounds.value ||
                    skillsList.length === 0
                  "
                  [ngClass]="{
                    error: checkForError(formGroupObject, 'skill')
                  }"
                  >*</span
                ></label
              >
              <input
                type="text"
                class="form-control autoFormControl"
                [ngClass]="{
                  'input-field-error': checkForError(formGroupObject, 'skill')
                }"
                id="skill"
                name="skill"
                [formControl]="
                  formGroupObject.controls.skill['controls'].description
                "
                (keyup)="onSkillChange($event)"
              />
              <app-error-message
                *ngIf="checkForError(formGroupObject, 'skill')"
                [formObject]="formGroupObject"
                [controlName]="'skill'"
                [fieldName]="'Skill'"
              ></app-error-message>
              <div
                class="listArrayCard"
                *ngIf="
                  filteredSkillOptionsList && filteredSkillOptionsList.length
                "
              >
                <p
                  *ngFor="let skill of filteredSkillOptionsList"
                  (click)="onSkillOptionSelect(skill)"
                >
                  {{ skill.description }}
                </p>
              </div>
            </div>
            <div class="form-group formGroupAddEvents">
              <label for="text"
                >{{ displayTextObject["numberOfRounds"]
                }}<span
                  *ngIf="
                    formGroupObject.controls.numberOfRounds.value ||
                    formGroupObject.controls.skill['controls'].description
                      .value ||
                    skillsList.length === 0
                  "
                  [ngClass]="{
                    error: checkForError(formGroupObject, 'numberOfRounds')
                  }"
                  >*</span
                ></label
              >
              <input
                type="text"
                class="form-control"
                [ngClass]="{
                  'input-field-error': checkForError(
                    formGroupObject,
                    'numberOfRounds'
                  )
                }"
                id="numberOfRounds"
                name="numberOfRounds"
                formControlName="numberOfRounds"
                appNumbersOnly
                (onNgModelChange)="onChangeOfRounds($event)"
              />
              <app-error-message
                *ngIf="checkForError(formGroupObject, 'numberOfRounds')"
                [formObject]="formGroupObject"
                [controlName]="'numberOfRounds'"
                [fieldName]="'Number of rounds'"
              ></app-error-message>
            </div>
            <div>
              <input
                type="button"
                [value]="renderSkillId ? 'Update' : 'Add'"
                class="btn btn-primary addEventSkillBtn"
                (click)="validateSkillSubmit() && addNewSkill()"
              />
            </div>
          </div>
          <div class="skillRoundsDetailBlock">
            <table class="table table-bordered table-md">
              <tr *ngFor="let skillObj of skillsList; let i = index">
                <td class="skillRoundsDesc">
                  {{ skillObj.skill.description }}
                </td>
                <td class="skillRoundsCount">
                  <p
                    class="eventRoundsBtn roundsNotAdded roundsAdded"
                    [ngClass]="{ green: !isRoundNamesMissing(skillObj) }"
                    data-toggle="modal"
                    data-target="#addRoundsPopup"
                    (click)="onClickOfNumberOfRounds(skillObj)"
                  >
                    {{ skillObj.numberOfRounds }}
                  </p>
                  <span
                    class="eventRoundsData"
                    data-toggle="tooltip"
                    *ngIf="!isRoundNamesMissing(skillObj)"
                    [title]="displaySkills(i, true)"
                  >
                    - {{ displaySkills(i) }}
                  </span>
                  <span
                    class="error"
                    data-toggle="tooltip"
                    *ngIf="isRoundNamesMissing(skillObj)"
                    [title]="displaySkills(i, true)"
                  >
                    - {{ displayTextObject["roundDetailsMissing"] }}
                  </span>
                </td>
                <td class="editRemoveBtns">
                  <input
                    type="button"
                    value="Delete"
                    class="removeBtn"
                    (click)="removeSkill(i)"
                  />
                  |
                  <input
                    type="button"
                    value="Edit"
                    class="EditBtn"
                    (click)="onSkillEdit(skillObj, i)"
                  />
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="eventsSubmitCancelBtns">
        <app-save-cancel-buttons
          (onSave)="
            checkForRoundDetailsValidity() &&
              formGroupObject.valid &&
              validateSkillSubmit('save') &&
              onSave()
          "
          (onCancel)="onReset()"
          [saveButtonName]="formGroupObject.value.id ? 'Update' : 'Save'"
          cancelButtonName="Reset"
        ></app-save-cancel-buttons>
      </div>
    </form>
  </div>

  <div class="EventListBlock">
    <h2>{{ displayTextObject["events"] }}</h2>
    <div class="addEventsTable" *ngIf="eventsList && eventsList.length">
      <div
        class="eventListCard"
        *ngFor="let event of eventsList; let i = index"
      >
        <div class="eventListCardHead">
          <div class="row">
            <div class="col-sm-8">
              <h3
                (click)="
                  navigateToScreen(
                    ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH
                      .ON_GOING_EVENT_ORGANIZATION,
                    event
                  )
                "
              >
                {{ event.eventName }}
              </h3>
            </div>
            <div class="col-sm-4">
              <div class="eventListCardEditDelete">
                <span class="deleteIcon"
                  ><fa-icon
                    class="cursor-pointer"
                    [icon]="fontIcon.faEdit"
                    (click)="onEditOfEvent(event)"
                  ></fa-icon
                ></span>
                <span class="editIcon"
                  ><fa-icon
                    class="cursor-pointer"
                    [icon]="fontIcon.faTrash"
                    (click)="onDeleteOfEvent(event)"
                  ></fa-icon
                ></span>
              </div>
            </div>
          </div>
        </div>
        <div class="eventListCardContent">
          <div class="row">
            <div class="col-sm-4">
              <app-display-date
                [dateInput]="event && event.eventDate"
              ></app-display-date>
            </div>
            <div class="col-sm-4">
              <p class="eventTime">{{ event.eventTime }}</p>
            </div>
            <div class="col-sm-4">
              <p
                class="eventSkills"
                data-toggle="tooltip"
                [title]="prepareSkillsForDisplay(event, true)"
              >
                {{ prepareSkillsForDisplay(event) }}
              </p>
            </div>
          </div>
        </div>
        <div class="eventListCardAddBtn">
          <div class="row">
            <div class="col-sm-4">
              <p
                class="eventAddMembers"
                (click)="
                  navigateToScreen(
                    ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH.MANAGE_CANDIDATE,
                    event
                  )
                "
              >
                {{ displayTextObject["addMembers"] }}
              </p>
              <!-- <p
                class="eventAddMembers"
                (click)="
                  navigateToScreen(
                    ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH
                      .ON_GOING_EVENT_ORGANIZATION,
                    event
                  )
                "
              >
                {{ displayTextObject["viewEvent"] }}
              </p> -->
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <p class="eventOfferedMem">
                {{ displayTextObject["offeredMembers"] }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="addEventsTable" *ngIf="eventsList && eventsList.length === 0">
      <app-no-records-found
        [message]="'No events found.'"
      ></app-no-records-found>
    </div>
  </div>
</div>

<!-- The Modal popup for add rounds -->
<div class="modal fade" id="addRoundsPopup">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title roundsModalTitle">
          {{ displayTextObject["addRoundDetails"] }}
        </h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="addRoundsDetailsForm">
          <br />
          <form name="form" #f="ngForm" novalidate>
            <div class="addRoundsDetailsFormCard">
              <div class="addRoundsDetailsFormFields">
                <div
                  class="form-group"
                  *ngFor="
                    let skill of skillObjForPopup['roundDetailsList'];
                    let i = index
                  "
                >
                  <label for="time"
                    >{{ displayTextObject["round"] }} {{ i + 1 }}:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="round{{ i + 1 }}"
                    name="round{{ i + 1 }}"
                    [(ngModel)]="skill.roundName"
                    (blur)="onRoundNameBlur($event, skill)"
                    [ngClass]="{
                      'input-field-error':
                        skill.roundName === '' && roundsDetailsFormSubmitted
                    }"
                    required
                  />
                  <div
                    class="error"
                    *ngIf="skill.roundName === '' && roundsDetailsFormSubmitted"
                  >
                    Required
                  </div>
                </div>
              </div>
              <div class="addRoundsDetailsFormBtns">
                <button
                  id="submit1"
                  #roundNamesSubmit
                  type="submit"
                  class="btn btn-primary"
                  (click)="
                    (roundsDetailsFormSubmitted = true) &&
                      f.valid &&
                      onRoundNamesSubmit()
                  "
                >
                  {{ displayTextObject["submit"] }}
                </button>
              </div>
            </div>
          </form>
          <div class="addRoundsDetailsOptionsCard">
            <h3>{{ displayTextObject["options"] }}</h3>
            <span
              class="DetailsOptions"
              *ngFor="let roundName of SHARED_CONSTANTS.EVU_ROUND_NAMES"
              (click)="onRoundNameSuggestion(roundName)"
              >{{ roundName }}</span
            >
          </div>
          <div
            class="addRoundsPrevOptionsCard"
            *ngIf="newRoundNames && newRoundNames.length"
          >
            <h3>{{ displayTextObject["previousOptions"] }}</h3>
            <span
              class="DetailsOptions"
              *ngFor="let newRound of newRoundNames"
              (click)="onRoundNameSuggestion(newRound)"
              >{{ newRound }}</span
            >
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div> -->
    </div>
  </div>
</div>
<!-- The Modal popup for add rounds -->
