@import "../sass/master";

html,
body {
  padding: 0px;
  margin: 0px;
}

button {
  text-transform: capitalize;
}
.ev_mainContainer {
  background-image: url(./assets/images/bg1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: inherit;
  width: 100%;
  height: 100vh;
}

.bgShadow {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
}

.ev_loginCard {
  background-image: url(./assets/images/loginBg.png);
  background-size: cover;
  background-repeat: repeat;
  position: fixed;
  width: 80%;
  top: 10%;
  height: 80vh;
  left: 10%;
  box-shadow: 0px 0px 15px $evu-light-black-color;
  border-radius: 20px;
}
.mobile_ev_loginCard {
  display: none;
}
.login_imgs {
  display: none;
}
.loginCard_left {
  background-image: url("./assets/images/loginBg.png");
  background-size: cover;
  background-repeat: repeat;
  width: 50%;
  float: left;
  position: relative;
  border-right: 1px solid #ccc;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  padding: 20px 25px;
  overflow: auto;
  z-index: 99;
}
.loginCard_right {
  background-image: url("./assets/images/loginBg.png");
  background-size: cover;
  background-repeat: repeat;
  width: 50%;
  float: left;
  position: relative;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  padding: 20px 25px;
  z-index: 99;
  top: 0px;
  left: 0px;
  -webkit-transition: left 2s;
  transition: left 2s;
}

.loginCard_right.loginCard_rightSlideEffect {
  left: -50%;
  border-radius: 20px 0px 0px 20px;
  border-right: 1px solid $evu-grey-color;
  z-index: 100;
  -webkit-transition: left 2s;
  transition: left 2s;
}
.mobileHamBtn {
  display: none;
}
.mobileMenuBlock {
  display: none;
}
.aboutHeader {
  border-bottom: 1px solid $evu-grey-color;
  margin-top: 5px;
}
.aboutHeaderTitle {
  font-size: 16px;
  color: $evu-light-aqua-color;
  padding: 8px 15px 8px 15px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0px 15px 0px 0px;
  cursor: pointer;
}
/*.aboutHeaderTitle.active{
	border-top: 2px solid $evu-light-aqua-color;
	color: $evu-light-aqua-color;
}*/
.aboutHeaderTitle.active {
  color: $evu-white-color;
}
.aboutUsContent {
  padding: 15px 0px;
}
.whatWeAreCnt p {
  font-size: 14px;
  color: $evu-white-color;
  margin: 0px 0px 10px 0px;
}
.ev_logo_block {
  padding: 20px 12%;
}
.ev_logo img {
  width: 100%;
  height: auto;
}
.loginFormNavigation {
  margin: 6% 0px 0px 0px;
  text-align: center;
}
.loginFormNavigationBtn {
  border: 2px solid $evu-white-color;
  font-size: 18px;
  color: $evu-white-color;
  width: 200px;
  display: inline-block;
  padding: 8px 0px;
  border-radius: 8px;
  margin: 12px 0px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0px 0px 2px $evu-light-black-color;
}
.loginFormNavigationBtn:hover,
.loginFormNavigationBtn:focus {
  border: 2px solid $evu-white-color;
  color: $evu-light-black-color;
  background: $evu-white-color;
  box-shadow: 0px 0px 5px $evu-light-black-color;
}
.organizationText {
}
.individualText {
}
.aboutUsText {
}
.ev_copyRight {
  position: absolute;
  bottom: 0px;
  width: 90%;
  text-align: center;
  border-top: 1px solid $evu-grey-color;
}
.ev_copyRightText {
  color: $evu-white-color;
  font-size: 12px;
  margin: 8px 0px 10px 0px;
}

.contactUsForm .btnSubmit {
  color: $evu-white-color;
  background-color: $evu-parrot-green-color;
  border-color: $evu-parrot-green-color;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.contactUsForm .btnSubmit:hover,
.contactUsForm .btnSubmit:focus {
  background-color: $evu-green-color;
  border-color: $evu-green-color;
  color: $evu-white-color;
}

/*=========== login form start here ===================*/
.login-form {
  padding: 0px 30px;
}
.login-form form {
  margin-bottom: 18px;
}
.login-form h2 {
  margin: 0 0 15px;
}
.form-control,
.login-btn {
  min-height: 38px;
  border-radius: 2px;
}
.contactUsForm .form-control {
  border-radius: 0px;
  border: 0px solid #ced4da;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: #f9fdfe;
}
.contactUsForm label {
  color: #f9fdfe;
}
.contactUsForm .form-control:focus {
  box-shadow: none;
}
.input-group-addon {
  padding: 9px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: $evu-grey-color;
  text-align: center;
  background-color: $evu-shade-white-color;
  border: 1px solid $evu-grey-color;
  border-radius: 4px;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.input-group-addon .fa {
  font-size: 18px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.login-btn {
  font-size: 15px;
  font-weight: bold;
}
.social-btn .btn {
  border: none;
  margin: 10px 3px 0;
  opacity: 1;
}
.social-btn .btn:hover {
  opacity: 0.9;
}
.social-btn .btn-primary {
  background: $evu-blue-color;
}
.social-btn .btn-info {
  background: $evu-light-sky-blue-color;
}
.social-btn .btn-danger {
  background: $evu-blood-red-color;
}
.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid $evu-grey-color;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -12px;
  z-index: 1;
  border-radius: 2px;
  color: #333;
}
.custom-checkbox.clearfix label {
  font-size: 14px;
  color: #000;
}
.custom-checkbox.clearfix a {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
  margin: 0px 0px;
  float: right;
}
.custom-checkbox.clearfix a:hover {
  color: #02434e;
}
.login-form .ng-fa-icon {
  color: #333;
}
.mediaTextClass {
  font-size: 14px;
  margin-bottom: 8px;
}
.loginAndRegisterTxt {
  font-size: 16px;
  color: #000;
}
.loginAndRegisterTxt a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.loginAndRegisterTxt a:hover {
  text-decoration: underline;
}
/*=========== login form end here ===================*/

.loginCard_right_signIn {
  background-image: url(/static/media/loginBg.aef0f1a1.png);
  background-size: cover;
  background-repeat: repeat;
  width: 50%;
  /* float: right; */
  position: absolute;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  padding: 20px 25px;
  z-index: 50;
  top: 0px;
  /* left: 0px; */
  right: 0;
  transition: left 2s;
  overflow: auto;
}

.loginCard_left_organization_register {
  background-image: url(/static/media/loginBg.aef0f1a1.png);
  background-size: cover;
  background-repeat: repeat;
  width: 50%;
  /* float: right; */
  position: absolute;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  padding: 20px 25px;
  z-index: 49;
  top: 0px;
  /* left: 0px; */
  right: 0;
  transition: left 2s;
  overflow: auto;
}

/* carousel class starts here */
.CarouselItemClass {
  text-align: center;
  height: 150px;
  width: 150px;
  border: 1px solid $evu-blood-red-color;
  margin-right: 15px;
  margin-left: 15px;
  background: blueviolet;
}
/* carousel class ends here */

.error {
  color: $evu-blood-red-color;
}

.input-field-error {
  border-color: $evu-blood-red-color !important;
}

.margin-right-10 {
  margin-right: 10px;
}

/*edit profile starts here*/
.height-width-100 {
  height: 100px;
  width: 100px;
}
/*edit profile ends here*/

html,
body {
  margin: 0px;
  padding: 0px;
}

/*=======================Header css start==========================*/
.mainHeader {
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00aff5;
}
.headerLogo {
  display: inline-block;
}
.headerLogo a {
  display: inline-block;
  width: 250px;
}
.headerLogo a img {
  width: 100%;
  height: auto;
}
.headerNavbar {
  display: inline-block;
}
.headerNavbar .navbarUl {
  padding: 0px 0px;
  margin: 12px 0px 12px 0px;
}
.headerNavbar .navbarUl li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0 16px;
  border: 0px solid #ccc;
}

.headerNavbar .navbarUl li a {
  color: #5b6770;
  font-weight: 500 !important;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.headerNavbar .navbarUl li.active {
  color: #ffb200 !important;
  border-bottom: 2px solid #ffb200;
  text-decoration: none;
}
.headerNavbar .navbarUl li.active a {
  color: #ffb200;
}
.headerNavbar .navbarUl li:hover {
  border-bottom: 2px solid #ffb200;
  color: #ffb200;
}
.headerNavbar .navbarUl li:hover a {
  color: #ffb200;
}
.headerRightSide {
  display: inline-block;
  width: 230px;
  text-align: right;
}
.headerRightSide .navbarRightUl {
  padding: 0px 0px;
  margin: 12px 0px 12px 0px;
}
.headerRightSide .navbarRightUl li {
  list-style-type: none;
  display: inline;
  padding: 0;
  margin: 0 12px;
}
.headerRightSide .navbarRightUl li .fa {
  font-size: 22px;
}
.individualProfileBlock {
  position: relative;
  cursor: pointer;
}
.individualProfileContent {
  position: absolute;
  top: 57px;
  right: 0px;
  background: #00aff5;
  min-width: 200px;
  z-index: 1000;
}
.individualProfileContent .individualProfileUl {
  padding: 0px;
  margin: 0px;
  text-align: left;
}
.individualProfileContent .individualProfileUl li {
  display: block;
  margin: 0px;
  border-bottom: 1px solid #fff;
  padding: 0px;
}
.individualProfileContent .individualProfileUl li a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  margin: 0px;
}
.individualProfileContent .individualProfileUl li a:hover {
  background: #ffb200;
  text-decoration: none;
}
.individualNotificationBlock {
  position: relative;
  cursor: pointer;
}
.individualNotificationContent {
  position: absolute;
  right: 0px;
  top: 57px;
  background: #00aff5;
  min-width: 400px;
  padding: 12px 15px;
  z-index: 1000;
  text-align: left;
}
.individualNotificationContent h3 {
  font-size: 24px;
  color: #fff;
  margin: 0px 0px 6px 0px;
}
.notificationList {
  border: 1px solid #fff;
  padding: 10px 10px;
  margin: 6px 0px;
  display: inline-block;
  width: 100%;
}
.notificationList h4 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin: 0px 0px 8px 0px;
}
.notificationListLeft {
  width: 60%;
  float: left;
  color: #fff;
  font-size: 14px;
  margin: 0px 0px 0px 0px;
}
.notificationListRight {
  width: 40%;
  float: left;
  font-size: 14px;
  color: #fff;
  text-align: right;
  text-decoration: underline;
}
.notificationList .collapse.show {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #fff;
  margin: 10px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}
.notificationList .collapse.show .form-group {
  margin-bottom: 10px;
}
.notificationList .collapse.show {
  border-top: 1px solid #fff;
  display: inline-block;
  width: 100%;
  margin: 10px 0px 0px 0px;
  padding: 12px 0px 0px 0px;
}
.notificationBtnGrp {
  text-align: right;
}
.notificationBtnGrp .btnCancel {
  background: #6c757d;
  color: #fff;
  font-size: 14px;
  padding: 2px 15px;
  font-weight: 500;
  border-radius: 0px;
  border: 1px solid #6c757d;
  margin: 0px 8px 0px 0px;
}
.notificationBtnGrp .btnCancel:hover {
  background: transparent;
  color: #6c757d;
  border: 1px solid #6c757d;
}
.notificationBtnGrp .btnSubmit {
  background: #ffb200;
  color: #fff;
  font-size: 14px;
  padding: 2px 15px;
  font-weight: 500;
  border: 1px solid #ffb200;
  border-radius: 0px;
}
.notificationBtnGrp .btnSubmit:hover {
  background: transparent;
  color: #ffb200;
  border: 1px solid #ffb200;
}
/*=======================Header css end==========================*/

/*=======================Dashboard css start==========================*/
.companyList {
  margin: 15px 0px;
  padding: 15px 15px;
}
.companySingleBtn {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 5px 12px;
  border: 1px solid #ffb200;
  border-radius: 0px;
  margin: 0px 15px 0px 0px;
  min-width: 150px;
  color: #ffb200;
  background: #fff;
}
.companySingleBtn.active,
.companySingleBtn:hover {
  border: 1px solid #ffb200;
  color: #fff;
  background: #ffb200;
}
/*=======================Dashboard css end==========================*/

/*=======================interview queue css start==========================*/
.interviewQueue {
  padding: 0px 15px;
}
.interviewQueueTabel {
  border: 0px solid #ccc;
}
.actionIcon {
  margin: 0px 8px;
  cursor: pointer;
}
.actionIcon .dropdown-menu {
  padding: 0px;
  margin: 0px;
}
.actionIcon .dropdown-menu li a {
  display: block;
  padding: 8px 8px;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  border-bottom: 1px solid #ababab;
}
.actionIcon .dropdown-menu li a:hover {
  background: #ffb200;
  color: #fff;
  text-decoration: none;
}
/*=======================interview queue css end==========================*/

.loading-spinner {
  position: fixed;
  top: 50%;
  right: 50%;
  height: 90px;
  width: 90px;
  background-position: center;
  color: #00aff5;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.spinner-overlay {
  position: fixed;
  background: #424242;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
}

.cursor-pointer {
  cursor: pointer;
}

// confirmation popup css changes start
.mat-dialog-container {
  min-width: 500px;
  padding: 20px;
}
.mat-dialog-container h4 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
}
.mat-dialog-container span {
  font-size: 16px;
  color: #333;
  margin: 0px 0px 10px 0px;
  display: inline-block;
  width: 100%;
}
.mat-dialog-container .text-right {
  margin: 8px 0px 0px 0px;
}
// confirmation popup css changes end

@media (max-width: 920px) {
  .aboutHeaderTitle {
    padding: 8px 8px 8px 8px;
    margin: 0px 0px 0px 0px;
  }
  #contactUs {
    float: right;
  }
  .login-form {
    padding: 0px 15px;
  }
}

@media (max-width: 820px) {
  .aboutHeaderTitle {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .ev_loginCard {
    display: none;
  }
  .mobile_ev_loginCard {
    display: block;
  }
  .ev_copyRight {
    display: none;
  }
  .ev_about_us {
    padding: 8px 20px;
  }
  #contactUs {
    float: inherit;
  }
  .aboutHeaderTitle {
    margin-right: 10px;
    font-weight: 600;
  }
  .ev_mainContainer {
    background-image: url(./assets/images/bg1.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: 100%;
    width: auto;
    height: auto;
  }
  .bgShadow {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    padding: 50px;
  }
  .mobile_ev_loginCard {
    background-image: url(./assets/images/loginBg.png);
    background-size: cover;
    background-repeat: repeat;
    /* position: fixed; */
    /* width: 90%; */
    /* top: 6%; */
    /* height: auto; */
    /* left: 5%; */
    box-shadow: 0px 0px 15px #333;
    border-radius: 12px;
  }
  .loginCard_right {
    background-image: none;
    background-size: inherit;
    background-repeat: inherit;
    width: inherit;
    float: inherit;
    position: static;
    height: inherit;
    border-radius: inherit;
    padding: inherit;
    z-index: inherit;
    top: inherit;
    left: inherit;
    transition: inherit;
  }
  .ev_logo_block {
    padding: 15px 18%;
  }
  .loginFormNavigation {
    margin: 0px;
    text-align: center;
    padding: 15px 15px 15px 15px;
    display: flex;
    border-top: 1px solid #d6d6d6;
  }
  .loginFormNavigation .btnGroup {
    float: left;
    width: 33.33%;
    padding: 12px 15px;
  }
  .loginFormNavigationBtn {
    border: 2px solid #ffffff;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    display: inline-block;
    padding: 8px 0px;
    border-radius: 8px;
    margin: 0px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 0px 2px #333;
  }
  .loginCard_right_signIn {
    background-image: none;
    background-size: inherit;
    background-repeat: inherit;
    width: inherit;
    float: none;
    position: inherit;
    height: inherit;
    border-radius: inherit;
    padding: 0px;
    z-index: inherit;
    top: 0px;
    left: 0px;
    right: 0;
    transition: inherit;
    overflow: inherit;
  }
  .login-form {
    padding: 20px 30px 30px 30px;
  }

  .headerNavbar {
    display: none;
  }
  .headerRightSide {
    display: none;
  }
  .headerLogo {
    display: block;
    width: 100%;
  }
  .headerLogo a {
    float: left;
  }
  .mobileHamBtn {
    display: inherit;
    float: right;
    border: 1px solid #07b1f5;
    background: #fff;
    color: #07b1f5;
    box-shadow: none;
    padding: 3px 10px 0px 10px;
    margin: 10px 6px 0px 0px;
  }
  .mobileHamBtn .ng-fa-icon {
    font-size: 22px;
  }
  .mobileMenuBlock {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .mobileMenuBlock.showMobileMenuSidePannel {
    display: block;
  }
  .mobileMenuCard {
    width: 55%;
    background: #01aff5;
    height: 100%;
    overflow: auto;
  }
  .mobileMenuCard ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  .mobileMenuCard ul li {
    display: block;
  }
  .mobileMenuCard ul li a {
    font-size: 20px;
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    color: #fff;
  }
  .mobileMenuMain .mobileMenuTop p {
    margin: 0px;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
  }
  .mobileMenuMain .mobileMenuTop p .mobileMenuClose {
    float: right;
  }
  .mobileMenuCard .mobileMenuSub {
    display: none;
  }
  .mobileMenuCard .mobileMenuSub.showProfileOptionsInSidePanel {
    display: block;
  }
  .mobileMenuCard .mobileMenuSub li a {
    padding: 10px 15px 10px 35px;
  }
  .mobileMenuCard .mobileSubMenuAngle {
    font-size: 20px;
    color: #fff;
    float: right;
  }
}

@media (max-width: 680px) {
  .login_imgs {
    display: block;
    width: auto;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px 11px;
    margin: 0px auto 8px auto;
  }
  .loginFormNavigationBtn {
    font-size: 16px;
    padding: 5px 0px;
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
  }
  .loginFormNavigation .btnGroup {
    padding: 12px 6px;
    text-align: center;
  }
  .loginFormNavigationBtn:hover,
  .loginFormNavigationBtn:focus {
    border: 0px solid #ffffff;
    color: #333;
    background: transparent;
    box-shadow: none;
  }
}

@media (max-width: 580px) {
  .loginFormNavigation .btnGroup {
    padding: 12px 6px;
  }
  .bgShadow {
    padding: 35px 20px;
  }
}

@media (max-width: 480px) {
  .ev_logo_block {
    padding: 15px 14%;
  }
}

@media (max-width: 420px) {
  .loginFormNavigationBtn {
    font-size: 13px;
  }
}
