//Colors
$evu-black-color: #000000;
$evu-light-black-color: #333;
$evu-grey-color: #555;

$evu-white-color: #ffffff;
$evu-pale-white-color: #f7f7f7;
$evu-shade-white-color: #eee;
$evu-grey-color: #ccc;

$evu-aqua-color: #0294d9;
$evu-blue-color: #507cc0;
$evu-light-sky-blue-color: #64ccf1;
$evu-light-aqua-color: #04424c;

$evu-green-color: #047d20;
$evu-parrot-green-color: #0ba72f;

$evu-blood-red-color: #b71403;
$evu-blood-orange-color: #df4930;
