.addCandidateDriveName {
    padding: 40px 0px 5px 0px;
    display: inline-block;
    width: 100%;
}
.addCandidateDriveName h4 {
    font-size: 30px;
    font-weight: 600;
    color: #ffb200;
    margin: 0px 0px;
    display: inline;
    float: left;
}
.addCandidateDriveName p {
    font-size: 18px;
    color: #333;
    display: inline;
    float: left;
    margin: 6px 0px 0px 10px;
}
.addCandidatesFormBlock{
    padding: 20px 15px 15px 15px;
    clear: both;
}
.addCandidatesFormBlock h2{
    font-size: 20px;
    color: #333;
    margin: 0px 0px 10px 0px;
}
.addCandidatesForm{
    border: 1px solid #ccc;
    padding: 5px 10px 15px 10px;
    display: inline-block;
    width: 100%;
}
.formGroupAddCandidate{
    width: 20%;
    float: left;
    padding: 10px 10px;
    margin: 0px;
}
.formGroupAddCandidate .error{
    font-size: 12px;
    margin: 2px 0px;
    color: #df4930;
}
.addCandidatesForm .formGroupBtn{
    width: 20%;
    float: left;
    margin-top: 42px;
}
.addCandidatesForm .formGroupBtn .btn.btn-secondary, .addCandidatesForm .formGroupBtn .btn.btn-primary{
    padding: 4px 10px 5px 10px;
    min-width: 55px;
}
.candidatesListBlock{
    clear: both;
    padding: 15px 15px;
}
.candidatesListBlock h3{
    font-size: 20px;
    color: #333;
    margin: 0px 0px 10px 0px;
}
.manageCandidatesList {
    padding: 0px 0px;
}
.manageCandidatesListTabel {
    border: 0px solid #ccc;
}
.manageCandidatesListTabel #skillSearch {
    min-height: 46px;
    border-radius: 2px;
    border: 1px solid #ffb405;
}