<div class="addCandidatesBlock container">
  <div class="addCandidatesFormBlock">
    <form [formGroup]="myForm" appHighlightRequiredFields appFocusInvalidInput>
      <h2>{{ displayTextObject["addCandidate"] }}</h2>
      <div class="addCandidatesForm">
        <div class="form-group formGroupAddCandidate">
          <div class="input-group">
            <label for="name">{{ displayTextObject["name"] }}</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="Name"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'name')
              }"
              formControlName="name"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'name')"
            [formObject]="myForm"
            [controlName]="'name'"
            [fieldName]="'Name'"
          ></app-error-message>
        </div>
        <div class="form-group formGroupAddCandidate">
          <div class="input-group">
            <label for="email">{{ displayTextObject["email"] }}</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              placeholder="Email"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'email')
              }"
              formControlName="email"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'email')"
            [formObject]="myForm"
            [controlName]="'email'"
            [fieldName]="'Email'"
          ></app-error-message>
        </div>
        <div class="form-group formGroupAddCandidate">
          <div class="input-group">
            <label for="mobile">{{ displayTextObject["mobile"] }}</label>
            <input
              type="text"
              class="form-control"
              name="mobile"
              id="mobile"
              placeholder="Mobile"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'mobile')
              }"
              formControlName="mobile"
              appNumbersOnly
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'mobile')"
            [formObject]="myForm"
            [controlName]="'mobile'"
            [fieldName]="'Mobile'"
          ></app-error-message>
        </div>
        <div class="form-group formGroupAddCandidate">
          <div class="input-group">
            <label for="skill">{{ displayTextObject["skill"] }}</label>
            <select
              class="custom-select"
              #skillSelect
              (change)="onSkillSelect()"
            >
              <option
                [value]="skill.value"
                *ngFor="let skill of skillDropDownList"
                >{{ skill.description }}
              </option>
            </select>
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'skill')"
            [formObject]="myForm"
            [controlName]="'skill'"
            [fieldName]="'Skill'"
          ></app-error-message>
        </div>
        <div class="form-group formGroupBtn">
          <div class="input-group">
            <app-save-cancel-buttons
              [saveButtonName]="
                myForm.controls.id.value !== null &&
                myForm.controls.id.value !== undefined
                  ? 'Update'
                  : 'Add'
              "
              cancelButtonName="Reset"
              (onSave)="myForm.valid && onSave()"
              (onCancel)="onCancel()"
            ></app-save-cancel-buttons>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="candidatesListBlock">
    <h3>Candidates list</h3>
    <div class="manageCandidatesList">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li
          class="nav-item"
          *ngFor="let tabSkill of skillTabsList; let i = index"
          (click)="onSkillTabClick(tabSkill)"
        >
          <a
            class="nav-link"
            [ngClass]="{ active: tabSkill.active }"
            id="{{ tabSkill.skill.description }}-tab"
            data-toggle="tab"
            href="#{{ tabSkill.skill.description }}{{ i }}"
            role="tab"
            attr.aria-controls="{{ tabSkill.skill.description }}"
            aria-selected="true"
            >{{ tabSkill.skill.description }}</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="table-responsive manageCandidatesListTabel tab-pane fade show active"
          id="content"
          role="tabpanel"
          attr.aria-labelledby="tab-tab"
        >
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              id="skillSearch"
              [formControl]="candidateSearchControl"
              (input)="onCandidateSearch()"
            />
          </div>
          <table class="table table-bordered table-md">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Skill</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidatesList; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.mobile }}</td>
                <td>{{ candidate.skill.description }}</td>
                <td>
                  <a href="javascript:void(0)" (click)="onEdit(candidate)">
                    Edit
                  </a>
                  |
                  <a href="javascript:void(0)" (click)="onDelete(candidate)">
                    Delete
                  </a>
                </td>
              </tr>
              <tr
                *ngIf="
                  (candidatesList && candidatesList.length === 0) ||
                  !candidatesList
                "
              >
                <app-no-records-found></app-no-records-found>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
