<div
  [ngClass]="{
    'text-right': buttonPosition === 'right',
    'text-center': buttonPosition === 'center',
    'text-left': buttonPosition === 'left'
  }"
>
  <button
    type="submit"
    class="btn btn-primary margin-right-10"
    class="{{ className }}"
    (click)="saveHandler()"
  >
    {{ saveButtonName }}
  </button>
  <button
    *ngIf="!hideCancelButton"
    class="btn btn-secondary"
    type="reset"
    (click)="cancelHandler()"
  >
    {{ cancelButtonName }}
  </button>
</div>
