<div class="individualNotificationContent">
  <h3>Notification</h3>
  <div class="notificationList">
    <h4>Google</h4>
    <div class="notificationListLeft">Status :- Not Selected</div>
    <div class="notificationListRight">
      <span data-toggle="collapse" data-target="#feedbackNotificationForm1"
        >Feedback</span
      >
    </div>
    <div id="feedbackNotificationForm1" class="collapse">
      <div class="form-group">
        <textarea
          placeholder="Comment"
          class="form-control"
          rows="3"
          id="comment"
        ></textarea>
      </div>
      <div class="notificationBtnGrp">
        <button
          type="button"
          class="btn btn-secondary btnCancel"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary btnSubmit">Submit</button>
      </div>
    </div>
  </div>
  <div class="notificationList">
    <h4>Facebook</h4>
    <div class="notificationListLeft">Status :- Selected</div>
    <div class="notificationListRight">
      <span data-toggle="collapse" data-target="#feedbackNotificationForm2"
        >Feedback</span
      >
    </div>
    <div id="feedbackNotificationForm2" class="collapse">
      <div class="form-group">
        <textarea
          placeholder="Comment"
          class="form-control"
          rows="3"
          id="comment"
        ></textarea>
      </div>
      <div class="notificationBtnGrp">
        <button
          type="button"
          class="btn btn-secondary btnCancel"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="submit" class="btn btn-primary btnSubmit">Submit</button>
      </div>
    </div>
  </div>
</div>
