<div class="editProfileOrg">
  <div class="editProfileOrgForm">
    <form
      *ngIf="myForm"
      [formGroup]="myForm"
      appHighlightRequiredFields
      appFocusInvalidInput
      appFocusFirstEmptyInput
    >
      <h2>{{ displayTextObject["editProfile"] }}</h2>
      <div class="form-group formGroupOrgProfile">
        <div class="input-group orgEditPhotoBlock">
          <app-image-upload-and-preview
            (onAvatarChange)="onAvatarChange($event)"
          ></app-image-upload-and-preview>
        </div>
      </div>
      <div class="orgProfileForm">
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <label for="firstName">{{ displayTextObject["firstName"] }} </label>
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstName"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'firstName')
              }"
              formControlName="firstName"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'firstName')"
            [formObject]="myForm"
            [controlName]="'firstName'"
            [fieldName]="displayTextObject['firstName']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <label for="lastName">{{ displayTextObject["lastName"] }}</label>
            <input
              type="text"
              class="form-control"
              name="lastName"
              id="lastName"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'lastName')
              }"
              formControlName="lastName"
            />
          </div>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <label for="officeEmail">{{
              displayTextObject["officeEmail"]
            }}</label>
            <input
              type="email"
              class="form-control"
              name="officeEmail"
              id="officeEmail"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'email')
              }"
              formControlName="email"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'email')"
            [formObject]="myForm"
            [controlName]="'email'"
            [fieldName]="displayTextObject['officeEmail']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <label for="mobile">{{ displayTextObject["mobile"] }}</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="mobile"
              id="mobile"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'contactNumber')
              }"
              formControlName="contactNumber"
              appNumbersOnly
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'contactNumber')"
            [formObject]="myForm"
            [controlName]="'contactNumber'"
            [fieldName]="displayTextObject['mobile']"
          ></app-error-message>
        </div>
      </div>
      <div class="form-group formGroupOrgProfile">
        <app-save-cancel-buttons
          [saveButtonName]="displayTextObject['update']"
          [cancelButtonName]="displayTextObject['reset']"
          (onSave)="myForm.valid && onUpdate()"
          (onCancel)="onReset()"
        ></app-save-cancel-buttons>
      </div>
    </form>
  </div>
</div>
