<div class="indi_dashboardWrapper">
  <div class="container">
    <div class="indi_present_Block">
      <div class="indi_present_Block_head">
        <h2>{{ displayTextObject["todaysInterview"] }}</h2>
      </div>
      <div class="indi_present_Table" *ngFor="let eventObj of todaysEventList">
        <div class="indi_present_Card">
          <div class="indi_present_CompanyName">
            <div class="row">
              <div class="col-sm-12">
                <h3>Company code: {{ eventObj.companyCode }}</h3>
              </div>
            </div>
          </div>
          <div class="indi_present_CardHead">
            <div class="row">
              <div class="col-sm-12">
                <h3>{{ eventObj.eventName }}</h3>
              </div>
            </div>
          </div>
          <div class="indi_present_CardContent">
            <div class="row">
              <div class="col-sm-4">
                <p class="indi_present_date">
                  <app-display-date
                    [dateInput]="eventObj && eventObj.eventDate"
                  ></app-display-date>
                </p>
              </div>
              <div class="col-sm-4">
                <p class="indi_present_time">{{ eventObj.eventTime }}</p>
              </div>
              <div class="col-sm-4">
                <p class="indi_present_skills">Angular Js, React Js</p>
              </div>
            </div>
          </div>
          <div class="indi_present_card_footer">
            <div class="row">
              <div class="col-sm-4">
                <p
                  class="indi_present_footer_para"
                  data-toggle="collapse"
                  data-target="#demo"
                >
                  Location
                </p>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <p class="indi_present_footer_para">Where i am</p>
              </div>
            </div>
          </div>
          <div class="collapse indi_present_location" id="demo">
            <div class="row">
              <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="indi_present_Table"
        *ngIf="
          (todaysEventList && todaysEventList.length === 0) || !todaysEventList
        "
      >
        <app-no-records-found
          [message]="'No events found.'"
        ></app-no-records-found>
      </div>
    </div>

    <div class="indi_present_Block">
      <div class="indi_present_Block_head">
        <h2>{{ displayTextObject["upComingInterviews"] }}</h2>
      </div>
      <div
        class="indi_present_Table"
        *ngFor="let eventObj of upComingEventsList"
      >
        <div class="indi_present_Card">
          <div class="indi_present_CompanyName">
            <div class="row">
              <div class="col-sm-12">
                <h3>Company code: {{ eventObj.companyCode }}</h3>
              </div>
            </div>
          </div>
          <div class="indi_present_CardHead">
            <div class="row">
              <div class="col-sm-12">
                <h3>{{ eventObj.eventName }}</h3>
              </div>
            </div>
          </div>
          <div class="indi_present_CardContent">
            <div class="row">
              <div class="col-sm-4">
                <p class="indi_present_date">
                  <app-display-date
                    [dateInput]="eventObj && eventObj.eventDate"
                  ></app-display-date>
                </p>
              </div>
              <div class="col-sm-4">
                <p class="indi_present_time">{{ eventObj.eventTime }}</p>
              </div>
              <div class="col-sm-4">
                <p class="indi_present_skills">Angular Js, React Js</p>
              </div>
            </div>
          </div>
          <div class="indi_present_card_footer">
            <div class="row">
              <div class="col-sm-4">
                <p
                  class="indi_present_footer_para"
                  data-toggle="collapse"
                  data-target="#demo"
                >
                  Location
                </p>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <p class="indi_present_footer_para">Where i am</p>
              </div>
            </div>
          </div>
          <div class="collapse indi_present_location" id="demo">
            <div class="row">
              <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="indi_present_Table"
        *ngIf="
          (upComingEventsList && upComingEventsList.length === 0) ||
          !upComingEventsList
        "
      >
        <app-no-records-found
          [message]="'No events found.'"
        ></app-no-records-found>
      </div>
    </div>

    <div class="indi_present_Block">
      <div class="indi_present_Block_head">
        <h2>{{ displayTextObject["pastInterviews"] }}</h2>
      </div>
      <div class="indi_present_Table" *ngFor="let eventObj of pastEventsList">
        <div class="indi_present_Card">
          <div class="indi_present_CompanyName">
            <div class="row">
              <div class="col-sm-12">
                <h3>Company code: {{ eventObj.companyCode }}</h3>
              </div>
            </div>
          </div>
          <div class="indi_present_CardHead">
            <div class="row">
              <div class="col-sm-12">
                <h3>{{ eventObj.eventName }}</h3>
              </div>
            </div>
          </div>
          <div class="indi_present_CardContent">
            <div class="row">
              <div class="col-sm-4">
                <p class="indi_present_date">
                  <app-display-date
                    [dateInput]="eventObj && eventObj.eventDate"
                  ></app-display-date>
                </p>
              </div>
              <div class="col-sm-4">
                <p class="indi_present_time">{{ eventObj.eventTime }}</p>
              </div>
              <div class="col-sm-4">
                <p class="indi_present_skills">Angular Js, React Js</p>
              </div>
            </div>
          </div>
          <div class="indi_present_card_footer">
            <div class="row">
              <div class="col-sm-4">
                <p
                  class="indi_present_footer_para"
                  data-toggle="collapse"
                  data-target="#demo"
                >
                  Location
                </p>
              </div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4">
                <p class="indi_present_footer_para">Where i am</p>
              </div>
            </div>
          </div>
          <div class="collapse indi_present_location" id="demo">
            <div class="row">
              <div class="col-sm-12">
                <p>Lorem ipsum dolor sit amet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="indi_present_Table"
        *ngIf="
          (pastEventsList && pastEventsList.length === 0) || !pastEventsList
        "
      >
        <app-no-records-found
          [message]="'No events found.'"
        ></app-no-records-found>
      </div>
    </div>
  </div>
</div>
