<div class="ev_mainContainer">
  <div class="bgShadow"></div>
  <div class="ev_loginCard">
    <div class="loginCard_left">
      <div class="ev_about_us">
        <div class="aboutHeader">
          <span
            id="whatWeAre"
            class="aboutHeaderTitle"
            [ngClass]="{ active: activated === 'whatWeAre' }"
            (click)="handleAboutUsAndContactUs($event)"
            >what we Are</span
          >
          <a routerLink="/individual-dashboard" routerLinkActive="active"
            >Crisis individual</a
          >
          <a routerLink="/organization-dashboard" routerLinkActive="active"
            >Crisis organization</a
          >
          <span
            id="contactUs"
            class="aboutHeaderTitle"
            [ngClass]="{ active: activated === 'contactUs' }"
            (click)="handleAboutUsAndContactUs($event)"
            >Contact Us</span
          >
        </div>
        <div class="aboutUsContent">
          <app-about-us *ngIf="activated === 'whatWeAre'"></app-about-us>
          <app-contact-us *ngIf="activated === 'contactUs'"></app-contact-us>
        </div>
      </div>
    </div>
    <app-login-logo-slider
      (onSelect)="handleViewOnSlide($event)"
      (showAboutUs)="activated = 'whatWeAre'"
    ></app-login-logo-slider>
    <div class="loginCard_right_signIn">
      <app-login-form
        *ngIf="handleFormsDisplay.login"
        (handleSignUpDisplay)="handleSignUpDisplay()"
      ></app-login-form>
      <app-registration-individual
        *ngIf="handleFormsDisplay.individualRegistration"
        (onLoginClick)="showLoginScreen()"
      ></app-registration-individual>
      <app-registration-organization
        *ngIf="handleFormsDisplay.organizationRegistration"
        (onLoginClick)="showLoginScreen()"
      ></app-registration-organization>
    </div>
  </div>
</div>
