<div
  class="overlayBlock"
  *ngIf="showNotification || showSettings"
  (click)="noDisplayOverlay()"
></div>
<div class="mainHeader">
  <div class="headerLogo">
    <a (click)="onClickOfLogo()">
      <img src="../../../../assets/images/logo2.png" alt="EnterVu" />
    </a>
    <button
      (click)="handleDisplayMobileMenu($event, true)"
      class="mobileHamBtn"
    >
      <fa-icon [icon]="fontIcon.faBars"></fa-icon>
    </button>
  </div>
  <div class="headerNavbar">
    <ul class="navbarUl">
      <li
        *ngFor="let menu of menuList"
        [ngClass]="{
          active: activeModule === menu.DISPLAY_TEXT
        }"
      >
        <a (click)="navigateToScreen(menu)">{{ menu.DISPLAY_TEXT }}</a>
      </li>
    </ul>
  </div>
  <div class="headerRightSide">
    <ul class="navbarRightUl">
      <li class="individualNotificationBlock">
        <span (click)="showNotification = !showNotification"
          ><fa-icon [icon]="fontIcon.faBell"></fa-icon
        ></span>
        <app-individual-notifications
          id="showNotificationId"
          *ngIf="showNotification"
        ></app-individual-notifications>
      </li>
      <li class="individualProfileBlock">
        <span (click)="showSettings = !showSettings"
          ><fa-icon [icon]="fontIcon.faUser"></fa-icon
        ></span>
        <app-profile
          *ngIf="showSettings"
          (hideSettingsMenu)="noDisplayOverlay()"
        ></app-profile>
      </li>
    </ul>
  </div>

  <div
    (click)="handleDisplayMobileMenu(null, false)"
    class="mobileMenuBlock"
    [ngClass]="{ showMobileMenuSidePannel: showMobileMenu === true }"
  >
    <div class="mobileMenuCard">
      <ul class="mobileMenuMain">
        <li class="mobileMenuTop">
          <p>
            <span class="mobileMenuHead">EnterVu</span>
            <span
              class="mobileMenuClose"
              (click)="handleDisplayMobileMenu($event, false)"
              ><fa-icon [icon]="fontIcon.faTimes"></fa-icon
            ></span>
          </p>
        </li>
        <li *ngFor="let menu of menuList">
          <a (click)="navigateToScreen(menu)">{{ menu.DISPLAY_TEXT }}</a>
        </li>
        <li>
          <a (click)="handleProfileOptionExpansion($event)"
            >Profile
            <span class="mobileSubMenuAngle"
              ><fa-icon [icon]="fontIcon.faAngleDown"></fa-icon></span
          ></a>
          <ul
            class="mobileMenuSub"
            [ngClass]="{
              showProfileOptionsInSidePanel:
                showProfileOptionsForMobile === true
            }"
          >
            <li
              *ngFor="
                let profileMenu of profileMenuList.slice(
                  0,
                  profileMenuList.length - 1
                )
              "
            >
              <a (click)="navigateToProfileScreen(profileMenu)">{{
                profileMenu.displayText
              }}</a>
            </li>
          </ul>
        </li>
        <li
          *ngFor="
            let profileMenu of profileMenuList.slice(
              profileMenuList.length - 1,
              profileMenuList.length
            )
          "
        >
          <a (click)="navigateToProfileScreen(profileMenu)">{{
            profileMenu.displayText
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
