<div
  class="overlayBlock"
  *ngIf="showNotification || showSettings"
  (click)="noDisplayOverlay()"
></div>
<div class="mainHeader">
  <div class="headerLogo">
    <a (click)="onClickOfLogo()">
      <img src="../../../../assets/images/logo2.png" alt="EnterVu" />
    </a>
    <button class="mobileHamBtn"><fa-icon [icon]="fontIcon.faBars"></fa-icon></button>
  </div>
  <div class="headerNavbar">
    <ul class="navbarUl">
      <li
        *ngFor="let menu of menuList"
        [ngClass]="{
          active: activeModule === menu.DISPLAY_TEXT
        }"
      >
        <a (click)="navigateToScreen(menu)">{{ menu.DISPLAY_TEXT }}</a>
      </li>
    </ul>
  </div>
  <div class="headerRightSide">
    <ul class="navbarRightUl">
      <li class="individualNotificationBlock">
        <span (click)="showNotification = !showNotification"
          ><fa-icon [icon]="fontIcon.faBell"></fa-icon
        ></span>
        <app-individual-notifications
          id="showNotificationId"
          *ngIf="showNotification"
        ></app-individual-notifications>
      </li>
      <li class="individualProfileBlock">
        <span (click)="showSettings = !showSettings"
          ><fa-icon [icon]="fontIcon.faUser"></fa-icon
        ></span>
        <app-profile
          *ngIf="showSettings"
          (hideSettingsMenu)="noDisplayOverlay()"
        ></app-profile>
      </li>
    </ul>
  </div>

  <div class="mobileMenuBlock">
     <div class="mobileMenuCard">
        <ul class="mobileMenuMain">
          <li class="mobileMenuTop"><p><span class="mobileMenuHead">EnterVu</span> <span class="mobileMenuClose"><fa-icon [icon]="fontIcon.faTimes"></fa-icon></span></p></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Profile <span class="mobileSubMenuAngle"><fa-icon [icon]="fontIcon.faAngleDown"></fa-icon></span></a>
              <ul class="mobileMenuSub">
                <li><a href="#">My Profile</a></li>
                <li><a href="#">Organization Profile</a></li>
                <li><a href="#">Change Password</a></li>
                <li><a href="#">Settings</a></li>
              </ul>
          </li>
          <li><a href="#">Logout</a></li>
        </ul>
     </div>
  </div>
</div>
