<div class="loginCard_right" id="slideOne">
  <div class="ev_logo_block">
    <div class="ev_logo">
      <img src="../../../../assets/images/logo1.png" alt="EnterVu" />
    </div>
  </div>
  <div class="loginFormNavigation">
    <div class="btnGroup">
      <span
        id="organizationButton"
        class="loginFormNavigationBtn organizationText"
        (click)="addSlideOneClass($event)"
        >
        <img class="login_imgs loginOrganizationImg" src="../../../../../assets/images/organization.png" alt="Organization Icon">
        {{ displayTextObject["organization"] }}</span
      >
    </div>
    <div class="btnGroup">
      <span
        id="individualButton"
        class="loginFormNavigationBtn individualText"
        (click)="addSlideOneClass($event)"
        >
        <img class="login_imgs loginIndividualImg" src="../../../../../assets/images/candidate.png" alt="Candidates Icon">
        {{ displayTextObject["individual"] }}</span
      >
    </div>
    <div class="btnGroup">
      <span
        id="aboutButton"
        class="loginFormNavigationBtn aboutUsText"
        (click)="removeSlideOneClass($event)"
        >
        <img class="login_imgs loginAboutUsImg" src="../../../../../assets/images/about_us.png" alt="About Us Icon">
        {{ displayTextObject["aboutUs"] }}</span
      >
    </div>
  </div>
  <div class="ev_copyRight">
    <p class="ev_copyRightText">
      Copyright &copy; 2019 EnterVu, All rights reserved.
    </p>
  </div>
</div>
