<div class="form-group formGroupAddEvents autoFormGroup">
  <div class="input-group">
    <input
      type="text"
      class="form-control autoFormControl"
      [ngClass]="{
        'input-field-error': checkForError(formGroup, 'description')
      }"
      id="skill"
      [placeholder]="placeholderText"
      name="skill"
      [formControl]="formGroup.controls.description"
      (keyup)="onSkillChange()"
    />
  </div>
  <app-error-message
    *ngIf="checkForError(formGroup, 'description')"
    [formObject]="formGroup"
    [controlName]="'description'"
    [fieldName]="'Skill'"
  ></app-error-message>
  <div
    class="listArrayCard"
    *ngIf="filteredSkillList && filteredSkillList.length"
  >
    <p
      *ngFor="let skill of filteredSkillList"
      (click)="onSkillOptionSelect(skill)"
    >
      {{ skill.description }}
    </p>
  </div>
</div>
