<div class="editProfileOrg">
  <div class="editProfileOrgForm">
    <form
      *ngIf="myForm"
      [formGroup]="myForm"
      appHighlightRequiredFields
      appFocusInvalidInput
      appFocusFirstEmptyInput
    >
      <h2>{{ displayTextObject["editProfile"] }}</h2>
      <div class="form-group formGroupOrgProfile">
        <div class="input-group orgEditPhotoBlock">
          <app-image-upload-and-preview
            (onAvatarChange)="onAvatarChange($event)"
          ></app-image-upload-and-preview>
        </div>
      </div>
      <div class="orgProfileForm">
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="firstName"
              id="firstName"
              [placeholder]="displayTextObject['firstName']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'firstName')
              }"
              formControlName="firstName"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'firstName')"
            [formObject]="myForm"
            [controlName]="'firstName'"
            [fieldName]="displayTextObject['firstName']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="lastName"
              id="lastName"
              [placeholder]="displayTextObject['lastName']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'lastName')
              }"
              formControlName="lastName"
            />
          </div>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              name="officeEmail"
              id="officeEmail"
              [placeholder]="displayTextObject['officeEmail']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'officeEmail')
              }"
              formControlName="officeEmail"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'officeEmail')"
            [formObject]="myForm"
            [controlName]="'officeEmail'"
            [fieldName]="displayTextObject['officeEmail']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="companyName"
              id="companyName"
              [placeholder]="displayTextObject['companyName']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'companyName')
              }"
              formControlName="companyName"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'companyName')"
            [formObject]="myForm"
            [controlName]="'companyName'"
            [fieldName]="displayTextObject['companyName']"
            appNumbersOnly
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="companyCode"
              id="companyCode"
              [placeholder]="displayTextObject['companyCode']"
              appNumbersOnly
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'companyCode')
              }"
              formControlName="companyCode"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'companyCode')"
            [formObject]="myForm"
            [controlName]="'companyCode'"
            [fieldName]="displayTextObject['companyCode']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <textarea
              type="text"
              class="form-control"
              name="address"
              id="address"
              [placeholder]="displayTextObject['address']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'address')
              }"
              formControlName="address"
            ></textarea>
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'address')"
            [formObject]="myForm"
            [controlName]="'address'"
            [fieldName]="displayTextObject['address']"
          ></app-error-message>
        </div>
      </div>
      <div class="form-group formGroupOrgProfile">
        <app-save-cancel-buttons
          [saveButtonName]="displayTextObject['update']"
          [cancelButtonName]="displayTextObject['reset']"
          (onSave)="myForm.valid && onUpdate()"
          (onCancel)="onReset()"
        ></app-save-cancel-buttons>
      </div>
    </form>
  </div>
</div>
