<div class="editProfileOrg">
  <div class="editProfileOrgForm">
    <form
      *ngIf="myForm"
      [formGroup]="myForm"
      appHighlightRequiredFields
      appFocusInvalidInput
    >
      <h2>{{ displayTextObject["organizationDetails"] }}</h2>
      <div class="form-group formGroupOrgProfile">
        <div class="input-group orgEditPhotoBlock">
          <app-image-upload-and-preview
            (onAvatarChange)="onAvatarChange($event)"
          ></app-image-upload-and-preview>
        </div>
      </div>
      <div class="orgProfileForm">
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              name="officeEmail"
              id="officeEmail"
              [placeholder]="displayTextObject['organizationEmail']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'email')
              }"
              formControlName="email"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'email')"
            [formObject]="myForm"
            [controlName]="'email'"
            [fieldName]="displayTextObject['organizationEmail']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="mobile"
              id="mobile"
              [placeholder]="displayTextObject['contactNumber']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'contactNumber')
              }"
              formControlName="contactNumber"
              appNumbersOnly
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'contactNumber')"
            [formObject]="myForm"
            [controlName]="'contactNumber'"
            [fieldName]="displayTextObject['contactNumber']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="companyName"
              id="companyName"
              [placeholder]="displayTextObject['companyName']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'companyName')
              }"
              formControlName="companyName"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'companyName')"
            [formObject]="myForm"
            [controlName]="'companyName'"
            [fieldName]="displayTextObject['companyName']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              name="companyCode"
              id="companyCode"
              [placeholder]="displayTextObject['companyCode']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'companyCode')
              }"
              formControlName="companyCode"
            />
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'companyCode')"
            [formObject]="myForm"
            [controlName]="'companyCode'"
            [fieldName]="displayTextObject['companyCode']"
          ></app-error-message>
        </div>
        <div class="form-group formGroupOrgProfile">
          <div class="input-group">
            <textarea
              type="text"
              class="form-control"
              name="address"
              id="address"
              [placeholder]="displayTextObject['officeAddress']"
              [ngClass]="{
                'input-field-error': checkForError(myForm, 'address')
              }"
              formControlName="address"
            ></textarea>
          </div>
          <app-error-message
            *ngIf="checkForError(myForm, 'address')"
            [formObject]="myForm"
            [controlName]="'address'"
            [fieldName]="displayTextObject['officeAddress']"
          ></app-error-message>
        </div>
      </div>
      <div class="form-group formGroupOrgProfile">
        <app-save-cancel-buttons
          [saveButtonName]="displayTextObject['update']"
          [cancelButtonName]="displayTextObject['reset']"
          (onSave)="myForm.valid && onUpdate()"
          (onCancel)="onReset()"
        ></app-save-cancel-buttons>
      </div>
    </form>
  </div>
</div>
