.removeProfileBtn{
    background: transparent;
    box-shadow: none;
    border: none;
    color: #0062cc;
    font-size: 16px;
    border-bottom: 1px solid #0062cc;
    padding: 0px;
    line-height: 21px;
    float: right;
}