<div class="ev_loginForm">
  <div class="login-form">
    <form [formGroup]="myForm" appHighlightRequiredFields appFocusInvalidInput>
      <h2 class="text-center">{{ displayTextObject["editProfile"] }}</h2>
      <div class="form-group">
        <div class="input-group">
          <app-image-upload-and-preview
            (onAvatarChange)="onAvatarChange($event)"
          ></app-image-upload-and-preview>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="firstName">{{ displayTextObject["firstName"] }} </label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            id="firstName"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'firstName')
            }"
            formControlName="firstName"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'firstName')"
          [formObject]="myForm"
          [controlName]="'firstName'"
          [fieldName]="displayTextObject['firstName']"
        ></app-error-message>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="lastName">{{ displayTextObject["lastName"] }} </label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            id="lastName"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'lastName')
            }"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="gender">{{ displayTextObject["gender"] }} </label>
          <div class="radio">
            <label
              ><input
                type="radio"
                name="gender"
                value="male"
                formControlName="gender"
              />{{ displayTextObject["male"] }}</label
            >
            <label
              ><input
                type="radio"
                name="gender"
                value="female"
                formControlName="gender"
              />{{ displayTextObject["female"] }}</label
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="email">{{ displayTextObject["email"] }} </label>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'email')
            }"
            formControlName="email"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'email')"
          [formObject]="myForm"
          [controlName]="'email'"
          [fieldName]="displayTextObject['email']"
        ></app-error-message>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="mobile">{{ displayTextObject["mobile"] }} </label>
          <input
            type="text"
            class="form-control"
            name="mobile"
            id="mobile"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'contactNumber')
            }"
            formControlName="contactNumber"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'contactNumber')"
          [formObject]="myForm"
          [controlName]="'contactNumber'"
          [fieldName]="displayTextObject['mobile']"
          appNumbersOnly
        ></app-error-message>
      </div>
      <div class="form-group">
        <div class="input-group">
          <label for="experience">{{ displayTextObject["experience"] }} </label>
          <input
            type="text"
            class="form-control"
            name="experience"
            id="experience"
            appNumbersOnly
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'experience')
            }"
            formControlName="experience"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'experience')"
          [formObject]="myForm"
          [controlName]="'experience'"
          [fieldName]="'Experience'"
        ></app-error-message>
      </div>
      <label for="primarySkill">{{ displayTextObject["primarySkill"] }} </label>
      <app-skills-autocomplete
        [isTouched]="
          myForm.controls.primarySkill['controls'].description.touched
        "
        [isRequired]="true"
        [renderSkill]="myForm.value.primarySkill"
        (onSelect)="onSkillSelect($event)"
      ></app-skills-autocomplete>
      <!-- <div class="form-group">
        <div class="input-group">
          <app-upload-resume
            (onResumeChange)="onResumeChange($event)"
          ></app-upload-resume>
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'resume')"
          [formObject]="myForm"
          [controlName]="'resume'"
          [fieldName]="'Resume'"
        ></app-error-message>
      </div> -->
      <div class="form-group">
        <app-save-cancel-buttons
          [saveButtonName]="displayTextObject['update']"
          [cancelButtonName]="displayTextObject['reset']"
          (onSave)="myForm.valid && onUpdate()"
          (onCancel)="onReset()"
        ></app-save-cancel-buttons>
      </div>
    </form>
  </div>
</div>
