.interviewQueue{
    padding: 0px 15px;
    display: inline-block;
    width: 100%;
    margin: 15px 0px 15px 0px;
}
.interviewQueueHead{
    font-size: 22px;
    color: #00aff5;
    margin: 0px 0px 15px 0px;
}