<div class="adminDashboardWrapper">
  <div class="adminSearchAddSkillBlock">
    <div class="container">
      <div class="adminSearchAddSkillCard">
        <div class="adminSearchCard" *ngIf="searchSkillCardEnable">
          <div class="adminSearchCardForm">
            <form>
              <div class="form-group">
                <label for="skillSearch">{{
                  displayTextObject["searchSkill"]
                }}</label>
                <div class="adminSearchInputGrp">
                  <input
                    type="text"
                    class="form-control"
                    [placeholder]="displayTextObject['skillSearch']"
                    id="skillSearch"
                    [formControl]="skillSearchControl"
                    (input)="onSearch()"
                  />
                  <span class="adminSearchIcon"
                    ><fa-icon [icon]="fontAwesome.faSearch"></fa-icon
                  ></span>
                </div>
              </div>
            </form>
          </div>
          <div class="adminSearchAddBtn">
            <span class="adminSearchPlusIcon" (click)="adminAddSkillEnable()"
              ><fa-icon [icon]="fontAwesome.faPlus"></fa-icon
            ></span>
          </div>
        </div>

        <div class="adminAddSkillCard" *ngIf="addSkillCardEnable">
          <div class="adminAddSkillCardForm">
            <form
              [formGroup]="addSkillForm"
              appHighlightRequiredFields
              appFocusInvalidInput
            >
              <div class="adminAddSkillForm">
                <p class="adminAddSkillFormHead">
                  {{ displayTextObject["addSkills"] }}
                </p>
                <div class="form-group skillIdFormGrp">
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'input-field-error': checkForError(addSkillForm, 'value')
                    }"
                    id="skillId"
                    [placeholder]="displayTextObject['skillId']"
                    [formControl]="addSkillForm.controls.value"
                    (blur)="onBlurOfSkillId()"
                  />
                  <app-error-message
                    *ngIf="checkForError(addSkillForm, 'value')"
                    [formObject]="addSkillForm"
                    [controlName]="'value'"
                    [fieldName]="'Skill ID'"
                  ></app-error-message>
                </div>
                <div class="form-group skillNameFormGrp">
                  <input
                    type="text"
                    class="form-control"
                    [ngClass]="{
                      'input-field-error': checkForError(
                        addSkillForm,
                        'description'
                      )
                    }"
                    id="skillName"
                    [placeholder]="displayTextObject['skillName']"
                    [formControl]="addSkillForm.controls.description"
                    (blur)="onBlurOfSkillName()"
                  />
                  <app-error-message
                    *ngIf="checkForError(addSkillForm, 'description')"
                    [formObject]="addSkillForm"
                    [controlName]="'description'"
                    [fieldName]="'Skill name'"
                  ></app-error-message>
                </div>
                <button
                  type="submit"
                  class="btn btn-default skillSubmitBtn"
                  (click)="addSkillForm.valid && onCreate()"
                >
                  {{ addSkillForm.controls.id.value ? "Update" : "Create" }}
                </button>
              </div>
            </form>
          </div>
          <div class="adminAddSearchBtn">
            <span class="adminAddSearchIcon" (click)="adminSearchEnable()"
              ><fa-icon [icon]="fontAwesome.faSearch"></fa-icon
            ></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="skillListBlock">
    <div class="container">
      <div class="skillListCard">
        <div class="row">
          <div
            class="col-sm-6 skillListCol"
            *ngFor="let skill of filterSkillsList"
          >
            <div class="skillListTable">
              <label class="skillListId">{{ skill.value }}</label>
              <p class="skillListName">
                {{ skill.description }}
                <span class="skillEditDeleteCard">
                  <span class="skillEditIcon"
                    ><fa-icon
                      [icon]="fontAwesome.faEdit"
                      (click)="onEditOfSkill(skill)"
                    ></fa-icon
                  ></span>
                  <span class="skillDeleteIcon"
                    ><fa-icon
                      [icon]="fontAwesome.faTrash"
                      (click)="onDeleteOfSkill(skill)"
                    ></fa-icon
                  ></span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
