<div class="error">
  <div *ngIf="checkInstance(formObject, 'formGroup')">
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].hasError('required')
      "
    >
      {{ fieldName }} is required.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].controls &&
        formObject['controls'][controlName].controls.description &&
        formObject['controls'][controlName].controls.description.hasError(
          'required'
        )
      "
    >
      {{ fieldName }} is required.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].controls &&
        formObject['controls'][controlName].controls.description &&
        formObject['controls'][controlName].controls.description.hasError(
          'duplicate'
        )
      "
    >
      Duplicate not allowed.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].hasError('duplicate')
      "
    >
      Duplicate not allowed.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].hasError('minlength')
      "
    >
      Minimum
      {{ formObject["controls"][controlName].errors.minlength.requiredLength }}
      characters is required.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].hasError('min')
      "
    >
      {{ formObject["controls"][controlName].errors.min.actual }}
      is invalid.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].hasError('maxlength')
      "
    >
      Max
      {{ formObject["controls"][controlName].errors.maxlength.requiredLength }}
      characters is required.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].hasError('email')
      "
    >
      {{ fieldName }} is Invalid.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject['controls'] &&
        formObject['controls'][controlName] &&
        formObject['controls'][controlName].hasError('weakPassword')
      "
    >
      {{ fieldName }} is weak. Use [A-Z], [a-z], [0-9] and [!_.-@#$%^&*].
    </p>
    <p
      *ngIf="
        controlName === 'confirmPassword' &&
        formObject['controls']['confirmPassword'].hasError('mustMatch')
      "
    >
      Password and confirm password not matching.
    </p>
    <p
      *ngIf="
        controlName === 'confirmNewPassword' &&
        formObject['controls']['confirmNewPassword'].hasError('mustMatch')
      "
    >
      New password and confirm new password not matching.
    </p>
  </div>
  <div *ngIf="checkInstance(formObject, 'formControl')">
    <p
      *ngIf="
        formObject && formObject.hasError('required') && fieldName === 'Time'
      "
    >
      {{ fieldName }} is required.
    </p>
    <p
      *ngIf="
        formObject &&
        formObject.value &&
        timeRegex.exec(formObject.value) === null &&
        fieldName === 'Time'
      "
    >
      {{ fieldName }} is Invalid.
    </p>
    <p
      *ngIf="
        formObject && formObject.hasError('required') && fieldName !== 'Time'
      "
    >
      {{ fieldName }} is required.
    </p>
  </div>
</div>
