<div class="individualProfileContent">
  <ul class="individualProfileUl">
    <li>
      <a
        (click)="
          navigateToScreen(
            ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH.EDIT_ORGANIZATION_PROFILE
          )
        "
        >My Profile</a
      >
    </li>
    <li>
      <a
        (click)="
          navigateToScreen(
            ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH.CHANGE_PASSWORD
          )
        "
        >Change Password</a
      >
    </li>
    <li><a>Settings</a></li>
    <li>
      <a
        (click)="
          navigateToScreen(ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH.LOGOUT)
        "
        >Logout</a
      >
    </li>
  </ul>
</div>
