<div class="individualProfileContent">
  <ul class="individualProfileUl">
    <li>
      <a
        (click)="
          navigateToScreen(
            ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH.EDIT_ORGANIZATION_PROFILE
          )
        "
      >
        {{ displayTextObject["myProfile"] }}</a
      >
    </li>
    <li>
      <a
        (click)="
          navigateToScreen(
            ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH.CHANGE_PASSWORD
          )
        "
      >
        {{ displayTextObject["changePassword"] }}
      </a>
    </li>
    <li>
      <a>{{ displayTextObject["settings"] }}</a>
    </li>
    <li>
      <a
        (click)="
          navigateToScreen(ROUTE_URL_PATH_CONSTANTS.ROUTE_URL_PATH.LOGOUT)
        "
        >{{ displayTextObject["logout"] }}</a
      >
    </li>
  </ul>
</div>
