<div class="ev_loginForm">
  <div class="login-form">
    <form
      [formGroup]="myForm"
      appHighlightRequiredFields
      appFocusInvalidInput
      appFocusFirstEmptyInput
    >
      <h2 class="text-center">{{ displayTextObject["signUp"] }}</h2>
      <div class="form-group">
        <div class="input-group">
          <span
            class="input-group-addon"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'firstName')
            }"
            ><fa-icon [icon]="FONT_AWESOME_ICONS_CONSTANTS.faUser"></fa-icon
          ></span>
          <input
            type="text"
            class="form-control"
            name="firstName"
            id="firstName"
            [placeholder]="displayTextObject['firstName']"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'firstName')
            }"
            formControlName="firstName"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'firstName')"
          [formObject]="myForm"
          [controlName]="'firstName'"
          [fieldName]="displayTextObject['firstName']"
        ></app-error-message>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span
            class="input-group-addon"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'lastName')
            }"
            ><fa-icon [icon]="FONT_AWESOME_ICONS_CONSTANTS.faUser"></fa-icon
          ></span>
          <input
            type="text"
            class="form-control"
            name="lastName"
            id="lastName"
            [placeholder]="displayTextObject['lastName']"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'lastName')
            }"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span
            class="input-group-addon"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'officeEmail')
            }"
            ><fa-icon [icon]="FONT_AWESOME_ICONS_CONSTANTS.faEnvelope"></fa-icon
          ></span>
          <input
            type="email"
            class="form-control"
            name="email"
            id="email"
            [placeholder]="displayTextObject['emailId']"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'officeEmail')
            }"
            formControlName="officeEmail"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'officeEmail')"
          [formObject]="myForm"
          [controlName]="'officeEmail'"
          [fieldName]="displayTextObject['emailId']"
        ></app-error-message>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span
            class="input-group-addon"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'mobile')
            }"
            ><fa-icon [icon]="FONT_AWESOME_ICONS_CONSTANTS.faMobile"></fa-icon
          ></span>
          <input
            type="text"
            class="form-control"
            name="mobile"
            id="mobile"
            [placeholder]="displayTextObject['mobileNumber']"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'mobile')
            }"
            appNumbersOnly
            formControlName="mobile"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'mobile')"
          [formObject]="myForm"
          [controlName]="'mobile'"
          [fieldName]="displayTextObject['mobileNumber']"
        ></app-error-message>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span
            class="input-group-addon"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'password')
            }"
            ><fa-icon [icon]="FONT_AWESOME_ICONS_CONSTANTS.faLock"></fa-icon
          ></span>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            [placeholder]="displayTextObject['password']"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'password')
            }"
            formControlName="password"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'password')"
          [formObject]="myForm"
          [controlName]="'password'"
          [fieldName]="displayTextObject['password']"
        ></app-error-message>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span
            class="input-group-addon"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'confirmPassword')
            }"
            ><fa-icon [icon]="FONT_AWESOME_ICONS_CONSTANTS.faLock"></fa-icon
          ></span>
          <input
            type="password"
            class="form-control"
            name="confirmPassword"
            [placeholder]="displayTextObject['confirmPassword']"
            [ngClass]="{
              'input-field-error': checkForError(myForm, 'confirmPassword')
            }"
            formControlName="confirmPassword"
          />
        </div>
        <app-error-message
          *ngIf="checkForError(myForm, 'confirmPassword')"
          [formObject]="myForm"
          [controlName]="'confirmPassword'"
          [fieldName]="displayTextObject['confirmPassword']"
        ></app-error-message>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary login-btn btn-block"
          (click)="onRegister()"
        >
          {{ displayTextObject["register"] }}
        </button>
      </div>
    </form>
    <p class="text-center loginAndRegisterTxt">
      {{ displayTextObject["dontHaveAccount"] }}
      <a href="#" (click)="showLogin()">{{ displayTextObject["loginHere"] }}</a>
    </p>
  </div>
</div>
