.slick-slider {
  width: 90%;
  margin: auto;
  background: #fff;
}
.InterviewSlideCount{
  padding: 0px 15px;
    display: inline-block;
    width: 100%;
    margin: 15px 0px 25px 0px;
}
.InterviewSlideCountHead{
  font-size: 22px;
    color: #00aff5;
    margin: 0px 0px 15px 0px;
}
.slide.each-slide.slick-slide{
  padding: 6px 8px;
}
.slide.each-slide.slick-slide.slick-active:focus,
.slide.each-slide.slick-slide.slick-active:active,
.slide.each-slide.slick-slide:focus,
.slide.each-slide.slick-slide:active{
  border: none;
    outline: none;
}
.interviewSlideCard{
  border: 1px solid #ffb200;
    padding: 8px 10px;
}
.interviewSlideCardHead{
  color: #ffb200;
    font-weight: 500;
    margin: 0px 0px 5px 0px;
    font-size: 16px;
}
.interviewSlideCardMembers{
  color: #333;
  font-weight: 500;
  margin: 0px 0px 5px 0px;
  font-size: 14px;
}