<!-- You can now use your library component in app.component.html -->
<div class="InterviewSlideCount">
  <h3 class="InterviewSlideCountHead">
    {{ displayTextObject["todayInterviewList"] }}
  </h3>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)"
  >
    <div
      ngxSlickItem
      *ngFor="let slide of slides"
      class="slide each-slide"
      (click)="onClickOfCarousel(slide)"
    >
      <div class="interviewSlideCard">
        <p class="interviewSlideCardHead">
          {{ slide && slide.skill && slide.skill.description }}
        </p>
        <p class="interviewSlideCardMembers">
          {{ slide && slide.count ? slide.count : 0 }} Members
        </p>
      </div>
    </div>
  </ngx-slick-carousel>
</div>

<!--
<button (click)="addSlide()">Add</button>
<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button> -->
